<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  {% include header.html %}

  <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/app.klipse.tech/css/codemirror.css">

    <script>
        window.klipse_settings = {
            selector: '.klipse',
            codemirror_options_in: {
                lineWrapping: true,
                autoCloseBrackets: true
            }
        }
    </script>
    <script src="https://storage.googleapis.com/app.klipse.tech/plugin/js/klipse_plugin.js"></script>

  <!--mermaid-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.3.1/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>
  </body>

</html>
